<!-- wp:group {"metadata":{"name":"Site Container"},"style":{"dimensions":{"minHeight":"100vh"},"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="min-height:100vh"><!-- wp:group {"tagName":"header","metadata":{"name":"Sticky Header"},"style":{"spacing":{"margin":{"top":"0"},"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}},"position":{"type":"sticky","top":"0px"},"border":{"top":{"style":"none","width":"0px"},"right":{"style":"none","width":"0px"},"bottom":{"color":"var:preset|color|custom-black-950","width":"10px"},"left":{"style":"none","width":"0px"}}},"backgroundColor":"custom-black-1000","layout":{"type":"constrained"}} -->
<header class="wp-block-group has-custom-black-1000-background-color has-background" style="border-top-style:none;border-top-width:0px;border-right-style:none;border-right-width:0px;border-bottom-color:var(--wp--preset--color--custom-black-950);border-bottom-width:10px;border-left-style:none;border-left-width:0px;margin-top:0;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--50)"><!-- wp:template-part {"slug":"header","area":"header","align":"wide"} /--></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Content"},"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"},"margin":{"top":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"metadata":{"name":"Recent Post"},"align":"full","layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group alignfull"><!-- wp:group {"metadata":{"name":"Container"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:query {"queryId":9,"query":{"perPage":1,"pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"metadata":{"categories":["posts"],"patternName":"core/query-grid-posts","name":"Get Recent Post"},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"default","columnCount":1,"minimumColumnWidth":null}} -->
<!-- wp:group {"metadata":{"name":"Card"},"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"var:preset|spacing|60"},"border":{"radius":"8px","width":"0px","style":"none"},"dimensions":{"minHeight":"100%"}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group" style="border-style:none;border-width:0px;border-radius:8px;min-height:100%;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:post-title {"textAlign":"center","isLink":true,"align":"wide","style":{"typography":{"fontSize":"56px"},"elements":{"link":{":hover":{"color":{"text":"var:preset|color|custom-primary-300"}},"color":{"text":"var:preset|color|custom-white"}}},"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}}} /-->

<!-- wp:group {"metadata":{"name":"Post Meta"},"style":{"spacing":{"blockGap":"10px","margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|50"}},"typography":{"fontStyle":"normal","fontWeight":"300","lineHeight":"1"},"elements":{"link":{"color":{"text":"var:preset|color|custom-black-400"}}}},"textColor":"custom-black-400","fontSize":"medium","fontFamily":"exo-2","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group has-custom-black-400-color has-text-color has-link-color has-exo-2-font-family has-medium-font-size" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--50);font-style:normal;font-weight:300;line-height:1"><!-- wp:group {"style":{"spacing":{"blockGap":"4px","padding":{"top":"0","bottom":"0","left":"0","right":"11px"}},"border":{"right":{"color":"var:preset|color|custom-scampi-300","width":"1px"}},"elements":{"link":{"color":{"text":"var:preset|color|custom-grey-lighter"}}}},"textColor":"custom-grey-lighter","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group has-custom-grey-lighter-color has-text-color has-link-color" style="border-right-color:var(--wp--preset--color--custom-scampi-300);border-right-width:1px;padding-top:0;padding-right:11px;padding-bottom:0;padding-left:0"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dual-tone-primary-text"}}}},"textColor":"dual-tone-primary-text"} -->
<p class="has-dual-tone-primary-text-color has-text-color has-link-color">Published on </p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dual-tone-primary-headings"},":hover":{"color":{"text":"var:preset|color|dual-tone-secondary-600"}}}}},"textColor":"dual-tone-primary-text"} /--></div>
<!-- /wp:group -->

<!-- wp:post-terms {"term":"category","prefix":"Categorized in ","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-primary-200"},":hover":{"color":{"text":"var:preset|color|custom-primary-hover"}}}}},"textColor":"custom-grey-lighter"} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"textAlign":"center","moreText":"","excerptLength":30,"fontSize":"large"} /-->

<!-- wp:post-featured-image {"aspectRatio":"auto","width":"","height":"","sizeSlug":"full","align":"full","style":{"border":{"radius":"10px","width":"0px","style":"none"},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"bottom":"var:preset|spacing|50"}},"layout":{"selfStretch":"fit","flexSize":null},"color":[]}} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"More Posts"},"align":"wide","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|70"}},"border":{"radius":"8px","width":"0px","style":"none"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="border-style:none;border-width:0px;border-radius:8px;margin-top:var(--wp--preset--spacing--70);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:query {"queryId":0,"query":{"perPage":6,"pages":0,"offset":"1","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"align":"full","layout":{"type":"default"}} -->
<div class="wp-block-query alignfull"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:group {"metadata":{"name":"Card","categories":["template-parts"],"patternName":"core/block/459"},"style":{"spacing":{"padding":{"top":"1.5rem","right":"2rem","bottom":"1.5rem","left":"2rem"},"blockGap":"0"},"border":{"radius":"8px","width":"0px","style":"none"},"dimensions":{"minHeight":"100%"}},"backgroundColor":"custom-black-1100","layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
<div class="wp-block-group has-custom-black-1100-background-color has-background" style="border-style:none;border-width:0px;border-radius:8px;min-height:100%;padding-top:1.5rem;padding-right:2rem;padding-bottom:1.5rem;padding-left:2rem"><!-- wp:group {"metadata":{"name":"Content"},"style":{"layout":{"selfStretch":"fill","flexSize":null},"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":3,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-primary-200"},":hover":{"color":{"text":"var:preset|color|custom-primary-hover"}}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"bottom":"0","top":"0rem"}},"typography":{"fontStyle":"normal","fontWeight":"400"},"border":{"bottom":{"style":"none","width":"0px"}}},"textColor":"custom-primary-200","fontSize":"large","fontFamily":"exo-2"} /-->

<!-- wp:post-date {"style":{"spacing":{"margin":{"bottom":"0"}},"typography":{"fontStyle":"italic","fontWeight":"300"},"elements":{"link":{"color":{"text":"var:preset|color|dual-tone-primary-headings"},":hover":{"color":{"text":"var:preset|color|dual-tone-secondary-600"}}}}},"textColor":"custom-grey-lighter","fontSize":"small"} /-->

<!-- wp:post-excerpt {"excerptLength":15,"fontSize":"medium"} /--></div>
<!-- /wp:group -->

<!-- wp:post-terms {"term":"category","prefix":"Categorized in ","style":{"typography":{"fontStyle":"normal","fontWeight":"300"},"spacing":{"margin":{"top":"var:preset|spacing|50"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"selfStretch":"fit","flexSize":null},"border":{"radius":"4px"},"elements":{"link":{"color":{"text":"var:preset|color|custom-primary-100"},":hover":{"color":{"text":"var:preset|color|custom-primary-hover"}}}}},"textColor":"custom-grey-lighter","fontSize":"small","fontFamily":"lato"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-no-results {"align":"wide"} -->
<!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}},"border":{"radius":"4px"}},"backgroundColor":"custom-scampi-50"} -->
<p class="has-text-align-center has-custom-scampi-50-background-color has-background" style="border-radius:4px;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--50)"><em>Sorry, but nothing was found. Please try a search with different keywords.</em></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results -->

<!-- wp:query-pagination {"paginationArrow":"chevron","showLabel":false,"align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"200"},"elements":{"link":{"color":{"text":"var:preset|color|dual-tone-primary-headings"},":hover":{"color":{"text":"var:preset|color|dual-tone-secondary-600"}}}}},"textColor":"dual-tone-primary-text","fontSize":"medium","fontFamily":"exo-2","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers {"style":{"typography":{"fontStyle":"normal","fontWeight":"300"}},"fontSize":"medium","fontFamily":"lato"} /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Categories"},"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group alignwide" style="margin-top:var(--wp--preset--spacing--60)"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"0"},"border":{"radius":"10px","width":"0px","style":"none"}},"backgroundColor":"custom-black-1100","layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group alignwide has-custom-black-1100-background-color has-background" style="border-style:none;border-width:0px;border-radius:10px;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--50)"><!-- wp:paragraph {"align":"center","fontSize":"small"} -->
<p class="has-text-align-center has-small-font-size">Browse posts by category</p>
<!-- /wp:paragraph -->

<!-- wp:tag-cloud {"taxonomy":"category","showTagCounts":true,"smallestFontSize":"15px","largestFontSize":"15px","align":"center","className":"is-style-default","style":{"border":{"radius":"0px","width":"0px","style":"none"},"spacing":{"margin":{"right":"0","left":"0"},"padding":{"top":"0","bottom":"0"}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:spacer {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
<div aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /--></div>
<!-- /wp:group -->